# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Dependency directories
package-lock.json
yarn.lock

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage reports
coverage/

# Temporary files
*.tmp
*.swp
*.swo

# Cloudinary files
uploads/

# Miscellaneous
*.pid
*.seed
*.pid.lock
*.gz
